<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="userName" value="J.S.1998"/>
    <add key="mail" value="J.S.1998@gmail.com"/>
    <add key="phoneNumber" value="1998-1998-1998"/>
    <add key="password" value="LondonIsTheCapitalOfGreatBritain"/>
  </appSettings>
</configuration>